* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightslategray;
}

h2 {
  text-align: center;
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: flex-start;
  align-items: center;
  width: min-content;
  padding-inline: 24px;
  padding-block: 32px;
  border: 1px solid slategray;
  border-radius: 2px;

  background: rgb(255,255,255);
  background: linear-gradient(123deg, rgba(255,255,255,1) 24%, rgba(244,250,255,1) 51%, rgba(255,255,255,1) 77%);
}

label {
  padding: 4px;
  background-color: white;
}

input { 
  height: 32px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
}

input[type="submit"] {
  height: 42px;
  border: 1px solid lightslategray;
  background-color: slategray;
  color: white;
  transition: opacity .1s;
}

input[type="submit"]:disabled {
  opacity: .5;
  cursor: not-allowed;
}

input[type="submit"]:not(:disabled):hover {
  filter: brightness(1.1);
}

.form-field {
  width: 220px;
  position: relative;
  border: 1px solid slategray;
  border-radius: 2px;
  cursor: text;
}

.field-title {
  position: absolute;
  top: 0;
  padding-block: 4px;
  display: grid;
  align-items: center;
  height: 100%;
  color: slategray;
  transition: font-size .1s, height .1s ease-out;
}

.form-field > input:valid + .field-title {
  font-size: 12px;
  height: 20px;
}

.form-field > input:valid {
  padding-top: 14px; 
}